body {
    background-color: #d4d4d4 !important;
    color: #777777 !important;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
}
.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    background: #fff;
}
a :hover {
    text-decoration: none;
    outline: 0;
}

.nav-item {
    padding: 12px;
}

.nav-item :hover {
    /* border-bottom: 2px solid #8490ff; */
    color: #8490ff !important;
}

.nav-link {
    color: rgb(44, 44, 44) !important;
}

.banner-left h6 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 14px;
}

.banner-left h1 {
    margin: 20px 0;
    font-size: 36px;
    color: #111111;
    font-weight: bold;
    text-transform: uppercase;
}

.fullscreen {
    height: 750px !important;
}

.banner-right {
    text-align: center;
}

.primary-btn:hover {
    box-shadow: 0px 20px 20px 0px rgba(132, 144, 255, 0.3);
}

.primary-btn {
    background: linear-gradient(to right, #8490ff 0%, #62bdfc 100%);
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    position: relative;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    position: relative;
}


.about-right p {
    margin-bottom: 30px;
    max-width: 445px;
}

.about-right h1 {
    margin-bottom: 40px;
    margin: 20px 0;
    color: #111111;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.about-right h6 {
    margin-top: 25px;
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
}

.title p {
    margin-bottom: 30px;
    max-width: 100%;
}

.title h1 {
    margin-bottom: 40px;
    margin: 20px 0;
    font-size: 36px;
    font-weight: bold;
    color: #111111;
    text-transform: uppercase;
}

.single-services {
    text-align: center;
    text-decoration: none;
    margin-top: 60px;
}

.single-services .fa {
    font-size: 35px;
    color: #222;
}

.single-services:hover .fa {
    background: linear-gradient(to right, #8490ff 0%, #62bdfc 100%);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
  }
.single-services h4 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #222222;
    font-weight: 600
}

.single-services a {
    text-decoration: none;
}

.single-skill p {
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: right;
}

.progress-bar {
    height: 14px !important;
    border-radius: 12px;
    border: 3px solid #eee;
}

.text h1 {
    margin-bottom: 40px;
    margin: 20px 0;
    font-size: 36px;
    font-weight: bold;
    color: #111111;
    text-transform: uppercase;
}

.footer-area {
    background-color: #04091e;
}
.section-space {
    padding: 120px 0;
}
.footer-widget h4 {
    color: #fff !important;
    margin-bottom: 25px;
    font-weight: 500;
}
.footer-text a {
    color: #8490ff;
    text-decoration: none;
    outline: 0;
}
.footer-social a {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
}
.footer-social a :hover{
    color: blue;
}
.footer-social a i {
    color: #fff;
}

.contact-info h4 {
    color: #fff !important;
    margin-bottom: 25px;
    font-weight: 500;
}
.contact-info a{
    text-decoration: none;
    display: inline-block;
    text-align: center; 
    color: #777272 ;  
}
.contact-info a :hover{
    color: blue !important;
}
.Qualification ul li {
    background: #f9f9ff;
    position: relative;
    margin: 0 auto;
    width: 2px;
    padding-bottom: 40px;
    list-style-type: none;
}
.Qualification ul li:before {
    content: '';
    background: #8490ff;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid #eee;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.Qualification ul li .content {
    background-color: white !important;
    box-shadow: 0px 10px 27px 3px rgba(204, 204, 204, 0.2);
    position: relative;
    top: 7px;
    width: 360px;
    padding: 30px;
}
.content h4 {
    padding-bottom: 10px;
    text-align: center;
}
.content p {
    text-align: center;
    margin-bottom: 5px;
}
.Qualification ul li:nth-child(even) .content {
    left: calc(-360px - 45px);
}
.Qualification ul li:nth-child(odd) .content {
    left: 50px;
}

.main {
    max-width: 1000px;
    margin: auto;
  }
  
  .main h2 {
    font-size: 50px;
    color:#111111;
    font-weight: 600;
    word-break: break-all;
  }
  
  .main .row {
    margin: 10px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33% !important;
    display: none; /* Hide all elements by default */
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }